/*consider changing to vh instead of % and use max min */
.drawer {
  height: 100%;
  width: 40%;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  transform: translate(-100%);
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.6rem 3.2rem;
  box-shadow: 5px 0px 18px rgb(0, 0, 0, 0);
  font-size: 1.4rem;
}

.open {
  transform: translate(0);
  box-shadow: 5px 8px 18px rgb(0, 0, 0, 0.7);
}

.drawerButton {
  position: fixed;
  top: 1.6rem;
  right: 3.2rem;
  font-size: 2rem;
  border: 0;
  cursor: pointer;
  background-color: inherit;
}

.drawerButton:hover,
.drawerButton:active,
.drawerButton:focus {
  transform: scale(1.1);
}
