.spinner {
  /* display: block; */
  margin: 3.2rem auto;
  /* width: 8 rem;
  height: 8 rem; */
}
.spinner:after {
  content: " ";
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  margin: 0.8rem;
  border-radius: 50%;
  border: 6px solid #075985;
  border-color: #075985 transparent #075985 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
