/*
---01 TYPOGRAPHY SYSTEM

-font size(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-font weights
default 400
500, 700

-line heights
default:1 

---02 COLORS
Primary #075985
Tints #01090d,
Shades #fff,#e6eef3,#b5cdda, #206a91,#677176
Accents #caf1c0, #f1c2c0
Greys  #01121b



---04 ICONS
ionicons

---05 SHADOWS

---06 BORDER RADIUS

---07 WHITE SPACE
- spacing (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  color: #01121b;
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
  min-height: 100vh;
}

.flex-layout {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  flex: 1;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
  row-gap: 6.4rem;
}

.table thead tr {
  background-color: #075985;
}

.table tbody tr:nth-child(odd) {
  background-color: #e6eef3;
}

.table tbody tr:nth-child(even) {
  background-color: #b5cdda;
}

.table td {
  text-align: left;
  padding: 1.6rem 2.4rem;
}
.table a:link,
.table a:visited {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #01121b;
  text-decoration: none;
}

.table a:hover,
.table a:active,
.table a:focus {
  color: #01090d;
  font-weight: 700;
  font-size: 1.8rem;
}

.CPTTable a:link,
.CPTTable a:visited {
  justify-content: center;
}

.btn,
.btn:visited {
  background-color: #075985;
  color: #fff;
  border: 0;
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #206a91;
  transform: scale(1.1);
  border-radius: 0.4rem;
}

.btn--small {
  font-size: inherit;
  width: 100%;
  padding: 1.6rem 2.4rem;
  text-align: left;
}

.btn--large {
  font-size: inherit;
  padding: 1.2rem 3.2rem;
  border-radius: 0.4rem;
}
