.grid-container {
  font-size: 1.6rem;
  border: 1px solid #01121b;
  border-radius: 0.4rem;
}

.claimInfo {
  grid-column: 1/-1;
  display: flex;
  gap: 4.8rem;
  align-items: center;
  justify-content: space-evenly;
  padding: 2.4rem 3.2rem;
}

.claimInfo span,
.personInfo span,
.ICDInfo span {
  display: block;
}

.label {
  margin-bottom: 1.2rem;
  font-weight: 500;
}

.action-buttons {
  display: flex;
  gap: 1.6rem;
}

.hidden {
  visibility: hidden;
}

.personInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3.2rem;
  column-gap: 6.4rem;
  justify-items: center;
  padding: 2.4rem 6.4rem;
}

.ICDInfo {
  padding: 2.4rem 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.alert {
  margin-top: 1rem;
  position: absolute;
  top: 6.1rem;
  right: 4rem;
  width: 30%;
  font-size: 1.4rem;
  height: 5rem;
}

.alert div {
  height: 100%;
}

.CPTTable {
  grid-column: 1/-1;
  /* border-collapse: collapse; i substitued with border spacing so border radius can work */
  border-spacing: 0;
}

.CPTTable thead th {
  padding: 1.6rem 2.4rem;
  color: #fff;
  font-weight: 400;
  text-align: left;
}
